@use 'sass:math';
@use '../../../styles/buttons';

$atom-electron-size: 32px;
$atom-nucleus-size: 72px;
$atom-size: 600px; // Must match SVG viewbox.
$skip-icon-size: 1.5rem;

// [1] Prevent scrolling for scaled SVGs.
:host {
  background: black;
  block-size: 100dvh; // [1]
  display: grid;
  grid: 'items' 1fr / 1fr;
  overflow: hidden; // [1]
  place-content: center;
  place-items: center;
}

:host > * {
  grid-area: items;
}

// ----------------------------------------
// Text elements.

:is(h1, p) {
  margin: 0;
  text-align: center;
}

header {
  inline-size: 90vw;
}

h1 {
  font-size: clamp(1.5rem, 1.5rem + 3vw, 5rem);
  letter-spacing: .2em;
  text-transform: uppercase;
}

.tagline {
  margin-inline: auto;
}

p {
  font-size: clamp(.875rem, .875rem + 1vw, 1.5rem);
  line-height: 1.6;
  max-inline-size: min(90vw, 44rem);
}

// ----------------------------------------
// Graphic elements.

.stars > circle {
  fill: white;
}

.atom {
  block-size: $atom-size;
  display: grid;
  grid: 'elements' 1fr / 1fr;
  inline-size: $atom-size;
}

.atom > * {
  grid-area: elements;
}

// Electron orbits within an SVG element.
.atom path {
  fill: none;
  stroke: white;
  stroke-width: 1.5;
}

:is(.atom__nucleus, .atom__electron) {
  background: white;
}

.atom__nucleus {
  animation: .5s infinite alternate nucleus;
  block-size: $atom-nucleus-size;
  border-radius: math.div($atom-nucleus-size, 2);
  inline-size: $atom-nucleus-size;
  place-self: center;
}

.atom__electron {
  animation: 1s infinite linear electron;
  block-size: $atom-electron-size;
  border-radius: math.div($atom-electron-size, 2);
  inline-size: $atom-electron-size;
  place-self: start;
}

[id='electron-2'],
[id='electron-3'] {
  animation-delay: .5s;
}

[id='electron-1'] {
  offset-path: path("M 384 299 C 384 151.539978 346.391907 32 300 32 C 253.608078 32 216 151.539978 216 299 C 216 446.460022 253.608078 566 300 566 C 346.391907 566 384 446.460022 384 299 Z");
}

[id='electron-2'] {
  offset-path: path("M 342 371.746124 C 469.704102 298.016113 554.424744 205.676575 531.22876 165.5 C 508.032837 125.323425 385.704102 152.523865 258 226.253845 C 130.295868 299.983887 45.575256 392.323425 68.77121 432.5 C 91.967163 472.676575 214.295868 445.476135 342 371.746124 Z");
}

[id='electron-3'] {
  offset-path: path("M 342 226.253845 C 214.295868 152.523865 91.967163 125.323425 68.77121 165.5 C 45.575256 205.676575 130.295868 298.016113 258 371.746124 C 385.704102 445.476135 508.032837 472.676575 531.22876 432.5 C 554.424744 392.323425 469.704102 299.983887 342 226.253845 Z");
}

// ----------------------------------------
// 'Skip' button.

button {
  align-items: center;
  border-radius: .5em;
  display: flex;
  font-size: clamp(.75rem, .75rem + .5vw, 1rem);
  gap: 0 .25em;
  inset-block: auto 5vw;
  inset-inline: auto 5vw;
  padding-block: .5em;
  padding-inline: 1em .75em;
  position: fixed;
  z-index: 2;

  &[disabled] {
    animation: .2s fadeOut;
  }
}

button > svg {
  block-size: $skip-icon-size;
  fill: currentColor;
  inline-size: $skip-icon-size;
  pointer-events: none;
}

// ----------------------------------------
// Animation sequence.

h1,
p,
.stars,
.atom {
  opacity: 0;
}

// "...light years"
:host > p:nth-of-type(1) {
  animation: 5s 0s 1 fade;
}

.stars {
  animation: 7.5s 0s 1 linear stars;
}

.atom {
  animation: 10s 5s 1 linear atom;
}

// "...atom"
:host > p:nth-of-type(2) {
  animation: 5s 7.5s 1 fade;
}

// "...forty-two scenes..."
:host > p:nth-of-type(3) {
  animation: 5s 15s 1 fade;
}

h1 {
  animation: 10s 20s 1 fade;
}

.tagline {
  animation: 5s 22.5s 1 fade;
}

// ----------------------------------------
// Animations.

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stars {
  0% {
    opacity: 0;
    transform: scale(2) rotate(0);
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 0;
    transform: scale(1.5) rotate(-90deg);
  }
}

@keyframes atom {
  0% {
    opacity: 0;
    transform: scale(.01) rotate(0);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    transform: scale(1.5) rotate(360deg);
  }
}

@keyframes electron {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes nucleus {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
