@use 'sass:math';
@use '../../../styles/buttons';

$atom-size: 200px; // Must match SVG viewbox.
$electron-size: 12px;
$meteor-size: 250px;
$nucleus-size: 40px;

// [1] Prevent scrolling for scaled SVGs.
:host {
  --grid: 1fr var(--button-size) 0 / 1fr;

  background-color: black;
  block-size: 100dvh; // [1]
  display: grid;
  gap: 1rem;
  grid: var(--grid);
  opacity: 0;
  overflow: hidden; // [1]
  place-content: center;
  place-items: center;
  pointer-events: none;
  transition: opacity 1s;
}

@media (min-width: 48em) {
  :host {
    --grid: 3fr 1fr / 1fr;
  }
}

:host([play]) {
  opacity: 1;
  pointer-events: auto;
}

:host([skip]) {
  opacity: 0;
}

:host > *:not(button) {
  grid-area: 1 / 1 / -1 / -1;
}

// ----------------------------------------
// 'Skip' button.

button {
  block-size: var(--button-size);
  border-radius: 5rem; // Override for capsule styling.
  grid-area: 2 / 1;
  padding-inline: 1.25em 1em; // Override for icon optical adjustment.
  z-index: 1;

  &[disabled] {
    animation: fadeOut 1s;
  }
}

// ----------------------------------------
// Text elements.

:is(h1, p) {
  margin: 0;
  opacity: 0;
  text-align: center;
}

header {
  inline-size: 90vw;
}

h1 {
  font-size: clamp(1.5rem, 1.5rem + 3vw, 5rem);
  letter-spacing: .2em;
  text-transform: uppercase;
}

.tagline {
  margin-inline: auto;
}

p {
  font-size: clamp(.875rem, .875rem + 1vw, 1.5rem);
  line-height: 1.6;
  max-inline-size: min(90vw, 44rem);
}

// ----------------------------------------
// Stars graphics.

.stars {
  display: grid;
  grid: 'stars' 1fr / 1fr;
  opacity: 0;
}

.starfield {
  block-size: 1000px;
  clip-path: circle(50%);
  fill: #999;
  grid-area: stars;
  inline-size: 1000px;
  place-self: center;
  transform-origin: center;
  will-change: transform; // Jitter fix for Chrome.
}

.meteor {
  animation: meteor .5s;
  background-image: linear-gradient(to right, white, rgba(white, 0));
  block-size: 1px;
  inline-size: $meteor-size;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
}

[id='meteor-1'] {
  animation-delay: 1s;
  inset-block: 10% auto;
  inset-inline: 40% auto;
}

[id='meteor-2'] {
  animation-delay: 3s;
  inset-block: 80% auto;
  inset-inline: 60% auto;
}

[id='meteor-3'] {
  animation-delay: 4s;
  inset-block: 60% auto;
  inset-inline: 40% auto;
}

[id='meteor-4'] {
  animation-delay: 4.5s;
  inset-block: 25% auto;
  inset-inline: 20% auto;
}

[id='meteor-5'] {
  animation-delay: 6s;
  inset-block: 15% auto;
  inset-inline: 30% auto;
}

// ----------------------------------------
// Atom graphics.

.atom {
  block-size: $atom-size;
  display: grid;
  grid: 1fr / 1fr;
  inline-size: $atom-size;
  opacity: 0;
}

.atom > * {
  grid-area: 1 / 1 / -1 / -1;
}

.nucleus {
  animation: nucleus 5s linear infinite;
  aspect-ratio: 1;
  border-radius: $nucleus-size;
  inline-size: $nucleus-size;
  place-self: center;
}

.nucleus > svg {
  animation: jitter .08s infinite alternate;
}

:is(.proton, .neutron) {
  stroke: black;
  stroke-width: 2.5px;
}

.proton {
  fill: white;
}

.neutron {
  fill: #bbb;
}

.electron {
  display: grid;
  grid: 1fr / 1fr;
}

.electron > * {
  grid-area: 1 / 1 / -1 / -1;
}

// [1] Must match SVG path in TS mooule.
.particle {
  animation: electron 1s linear infinite;
  aspect-ratio: 1;
  background: white;
  border-radius: $electron-size;
  inline-size: $electron-size;
  offset-path: path('M10 100a90 30 0 1 0 180 0a90 30 0 1 0 -180 0 Z'); // [1]
}

.orbit {
  fill: none;
  stroke: white;
  stroke-width: .5px;
}

[id='electron-2'] {
  transform: rotate(120deg);
}

[id='electron-3'] {
  transform: rotate(-120deg);
}

// ----------------------------------------
// Animation sequence.

// Scene 1: Stars.
.stars {
  animation: fade 10s 0s 1 linear;
}

.starfield:nth-child(1) {
  animation: starfield 16s 0s 1 linear;
}

.starfield:nth-child(2) {
  animation: starfield 13s 0s 1 linear;
}

.starfield:nth-child(3) {
  animation: starfield 10s 0s 1 linear;
}

[data-blurb='stars'] {
  animation: fade 5s 2s 1 ;
}

// Scene 2: Atom.
.atom {
  animation: atom 10s 6s 1 linear;
}

[data-blurb='atom'] {
  animation: fade 5s 9s 1;
}

// Scene 3: Overview text.
[data-blurb='overview'] {
  animation: fade 7s 16s 1;
}

// Final scene: Title card.
h1 {
  animation: fade 9s 23s 1;
}

.tagline {
  animation: fade 5s 25s 1;
}

// ----------------------------------------
// Animations.

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes starfield {
  0% {
    transform: rotate(0) scale(2.5);
  }
  100% {
    transform: rotate(-90deg) scale(1.5);
  }
}

@keyframes meteor {
  0% {
    margin-block: ($meteor-size * -2) 0;
    margin-inline: ($meteor-size * 2) 0;
  }
  10%,
  50% {
    opacity: 1;
  }
  100% {
    margin-block: ($meteor-size * 2) 0;
    margin-inline: ($meteor-size * -2) 0;
    opacity: 0;
  }
}

@keyframes atom {
  0% {
    opacity: 0;
    transform: rotate(0) scale(.01) translateY(2rem);
  }
  25%,
  80% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg) scale(4) translateY(2rem);
  }
}

@keyframes nucleus {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes jitter {
  100% {
    transform: scale(1.05);
  }
}

@keyframes electron {
  100% {
    offset-distance: 100%;
  }
}
