@use '../../../styles/buttons';

// ----------------------------------------
// Intro elements.

// [1] Prevent scrolling for scaled SVGs.
:host {
  background: black;
  block-size: 100dvh; // [1]
  display: grid;
  grid: 'items' 1fr / 1fr;
  overflow: hidden; // [1]
  place-content: center;
  place-items: center;
}

:host > * {
  grid-area: items;
}

:is(h1, p) {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: clamp(1.5rem, 1.5rem + 3vw, 5rem);
  letter-spacing: .2em;
  text-transform: uppercase;
}

p {
  font-size: clamp(.875rem, .875rem + 1vw, 1.5rem);
  line-height: 1.6;
  max-inline-size: min(90vw, 44rem);
}

// ----------------------------------------
// Stars.

.stars > circle {
  fill: white;
}

// ----------------------------------------
// Atom.

.atom {
  block-size: 600px;
  display: grid;
  grid: 1fr / 1fr;
  inline-size: 600px;
}

.atom > * {
  grid-area: 1 / 1 / -1 / -1;
}

// Electron orbits within an SVG element.
.atom path {
  fill: none;
  stroke: white;
  stroke-width: 1.5;
}

:is(.atom__nucleus, .atom__electron) {
  background-color: white;
}

.atom__nucleus {
  animation: .5s infinite alternate nucleus;
  block-size: 72px;
  border-radius: 72px;
  inline-size: 72px;
  place-self: center;
}

.atom__electron {
  animation: 1s infinite linear electron;
  block-size: 32px;
  border-radius: 16px;
  inline-size: 32px;
  place-self: start;
}

[id='electron-2'],
[id='electron-3'] {
  animation-delay: .5s;
}

[id='electron-1'] {
  offset-path: path("M 384 299 C 384 151.539978 346.391907 32 300 32 C 253.608078 32 216 151.539978 216 299 C 216 446.460022 253.608078 566 300 566 C 346.391907 566 384 446.460022 384 299 Z");
}

[id='electron-2'] {
  offset-path: path("M 342 371.746124 C 469.704102 298.016113 554.424744 205.676575 531.22876 165.5 C 508.032837 125.323425 385.704102 152.523865 258 226.253845 C 130.295868 299.983887 45.575256 392.323425 68.77121 432.5 C 91.967163 472.676575 214.295868 445.476135 342 371.746124 Z");
}

[id='electron-3'] {
  offset-path: path("M 342 226.253845 C 214.295868 152.523865 91.967163 125.323425 68.77121 165.5 C 45.575256 205.676575 130.295868 298.016113 258 371.746124 C 385.704102 445.476135 508.032837 472.676575 531.22876 432.5 C 554.424744 392.323425 469.704102 299.983887 342 226.253845 Z");
}

// ----------------------------------------
// 'Skip intro' button.

button {
  background: black;
  border: 2px solid white;
  border-radius: .5rem;
  color: white;
  inset-block: auto 5vw;
  inset-inline: auto 5vw;
  position: fixed;
  z-index: 2;

  &[disabled] {
    animation: .2s fadeOut;
  }

  &:hover,
  &:focus {
    background: white;
    color: black;
  }

  @media (any-hover: hover) {
    transition: background-color .2s, color .2s, transform .2s;
  }
}

// ----------------------------------------
// Animations.

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes stars {
  0% {
    opacity: 0;
    transform: scale(1.5) rotate(0);
  }
  50% {
    opacity: .8;
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(-90deg);
  }
}

@keyframes atom {
  0% {
    opacity: 0;
    transform: scale(.1) rotate(0);
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5) rotate(360deg);
  }
}

@keyframes electron {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes nucleus {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

// ----------------------------------------
// Animation sequence.

h1,
p,
button,
.stars,
.atom {
  opacity: 0;
}

.stars {
  animation: 10s 0s 1 linear stars;
}

button {
  animation: 27.5s 0s 1 fade;
}

// "...light years"
:host > p:nth-of-type(1) {
  animation: 5s 2.5s 1 fade;
}

.atom {
  animation: 10s 7.5s 1 linear atom;
}

// "...atom"
:host > p:nth-of-type(2) {
  animation: 5s 10s 1 fade;
}

// "...forty-two scenes..."
:host > p:nth-of-type(3) {
  animation: 5s 17.5s 1 fade;
}

h1 {
  animation: 10s 22.5s 1 fade;
}

.tagline {
  animation: 5s 25s 1 fade;
}
