:host {
  display: grid;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  grid: var(--grid);
  overflow: hidden;
}

* {
  box-sizing: border-box;;
}

ul {
  display: grid;
  grid: 'items' 1fr / 1fr;
  grid-area: ten;
  inline-size: 100%;
  list-style: none;
  margin: 0;
  max-inline-size: 40rem;
  padding: 0;
  place-self: center;
  z-index: 1;
}

li {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-area: items;
  inline-size: 100%;
}

p {
  margin-block: 0 1rem;
}

img {
  aspect-ratio: 1;
  background: white;
  block-size: auto;
  display: grid;
  inline-size: 100%;
  transition: opacity 1s, transform 1s;
  vertical-align: middle;
}

[disabled] img {
  opacity: 0;
  transform: scale(.1);
}

[disabled][data-visited] img {
  transform: scale(10);
}

.meta {
  align-items: center;
  display: flex;
  gap: 1rem;
  grid-area: meta;
  justify-content: space-between;
  justify-self: center;
  transition: opacity 1s;
  z-index: 2;
}

[disabled] .meta {
  opacity: 0;
}

.distance {
  display: flex;
  gap: 2rem;
}

.blurb {
  transition: opacity 1s;
}

[disabled] .blurb {
  opacity: 0;
}

button {
  appearance: none;
  background: 0;
  block-size: 3rem;
  border: 4px solid #666;
  border-radius: 1.5rem;
  color: #666;
  cursor: pointer;
  display: grid;
  font-size: 2em;
  inline-size: 3rem;
  outline: 0;
  padding: 0;
  place-content: center;
  place-self: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .2s, transform .2s;
  z-index: 2;

  &[disabled] {
    opacity: 0;
    pointer-events: none;
  }

  &:first-child {
    grid-area: out;
  }

  &:last-child {
    grid-area: in;
  }

  &:hover,
  &:focus {
    border-color: white;
    color: white;
  }

  &:active {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    transition: border-color .2s, color .2s, opacity .2s, transform .2s;
  }
}

svg {
  block-size: auto;
  pointer-events: none;
  inline-size: 100%;
}

line {
  stroke: currentColor;
  stroke-width: 2px;
}
