powers-of-ten {
  --transition: .25s;

  display: grid;
  grid: 1fr / 1fr;
  place-self: stretch;
}

powers-of-ten > * {
  grid-area: 1 / 1 / -1 / -1;
  position: relative;
}

ten-intro {
  z-index: 2;
}

ten-scenes {
  z-index: 1;
}
