// Colors.
$button-color: #999;
$button-hover: white;

// Static dimensions.
$button-size: 2.75rem;
$gap-small: 1rem;
$gap-medium: 2rem;
$gap-large: 4rem;
$max-size: 37.5rem; // 600px

// Computed dimensions.
$button-space: $button-size + ($gap-small * 2);

// Computed breakpoints based on content.
$breakpoint-1: $max-size + ($button-space * 2);
$breakpoint-2: ($max-size * 2) + ($button-space * 2);

// [1] Ensures buttons are anchored to bottom of viewport on small screens and
//     provides vertical centering on large screens.
// [2] Prevents scrolling otherwise caused by the 10x images.
:host {
  --app-grid: 'scenes scenes scenes' 1fr 'prev . next' #{$button-space} / #{$button-space} 1fr #{$button-space};
  --scene-gap: #{$gap-small};
  --scene-grid: 'image image image image' '. distance power .' '. blurb blurb .' 1fr / 0 1fr auto 0;

  @media (min-width: #{$breakpoint-1}) {
    --app-grid: 'prev scenes next' 1fr / 1fr #{$max-size} 1fr;
    --scene-gap: #{$gap-medium} 0;
    --scene-grid: '. .' 1fr 'image image' #{$max-size} 'distance power' 'blurb blurb' 1fr / 1fr auto;
  }

  @media (min-width: #{$breakpoint-2}) {
    --app-grid: 'prev scenes next' 1fr / 1fr #{$max-size * 2} 1fr;
    --scene-gap: #{$gap-medium} #{$gap-large};
    --scene-grid: 'distance power image' 'blurb blurb image' '. . image' 1rem / 1fr auto #{$max-size};
  }

  display: grid;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  grid: var(--app-grid);
  min-block-size: 100dvh; // [1]
  overflow: hidden; // [2]
}

* {
  box-sizing: border-box;
}

.intro {
  display: none; //
  
}

ul {
  display: grid;
  grid: 1fr / 1fr;
  grid-area: scenes;
  inline-size: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;

  @media (min-width: #{$breakpoint-2}) {
    place-self: center;
  }
}

li {
  display: grid;
  gap: var(--scene-gap);
  grid: var(--scene-grid);
  grid-area: 1 / -1 / 1 / -1;
  inline-size: 100%;
}

img {
  aspect-ratio: 1;
  background: white;
  block-size: auto;
  display: grid;
  grid-area: image;
  inline-size: 100%;
  place-self: center;
  transition: opacity 1s, transform 1s;
  vertical-align: middle;

  [aria-hidden='true'] & {
    opacity: 0;
    transform: scale(.1);
  }

  [aria-hidden='true'][data-viewed] & {
    transform: scale(10);
  }
}

:is(.distance, .power, .blurb) {
  transition: opacity 1s;
}

[aria-hidden='true'] :is(.distance, .power, .blurb) {
  opacity: 0;
}

:is(.distance, .power) {
  font-family: 'Avenir Variable', sans-serif;
  margin-block: 0;
}

.distance {
  display: flex;
  gap: 1rem;
  grid-area: distance;
  position: relative;
  inset-block: .5rem;
}

.power {
  font-size: 1.5rem;
  grid-area: power;
  justify-self: end;
}

sup {
  font-variation-settings: 'wght' 400;
  font-size: 75%;
  margin-inline: .25em 0;
}

.blurb {
  font-size: clamp(.875rem, .875rem + 1vw, 1rem);
  font-variation-settings: 'wght' 400;
  grid-area: blurb;
  line-height: 1.5;
}

.blurb > p {
  margin-block: 0 1rem;
}

button {
  appearance: none;
  backdrop-filter: blur(8px);
  background: 0;
  block-size: $button-size;
  border: 4px solid $button-color;
  border-radius: 1.5rem;
  color: $button-color;
  cursor: pointer;
  display: grid;
  font-size: 2em;
  inline-size: $button-size;
  outline: 0;
  padding: 0;
  place-content: center;
  place-self: center;
  text-decoration: none;
  transition: opacity .2s, transform .2s;
  z-index: 2;

  &[disabled] {
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    border-color: $button-hover;
    color: $button-hover;
  }

  &:active {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    transition: border-color .2s, color .2s, opacity .2s, transform .2s;
  }
}

[id='prev'] {
  grid-area: prev;
}

[id='next'] {
  grid-area: next;
}

svg {
  block-size: auto;
  pointer-events: none;
  inline-size: 100%;
}

line {
  stroke: currentColor;
  stroke-width: 2px;
}
