// Colors.
$button-color: #999;
$button-hover: white;

// Static dimensions.
$button-size: 2.75rem;
$gap-small: 1rem;
$gap-medium: 2rem;
$gap-large: 4rem;
$max-size: 37.5rem; // 600px

// Computed dimensions.
$button-space: $button-size + ($gap-small * 2);

// Computed breakpoints based on content.
$breakpoint-1: $max-size + ($button-space * 2);
$breakpoint-2: ($max-size * 2) + ($button-space * 2);
