// Static dimensions.
$button-size: 2.75rem;
$max-size: 37.5rem; // 600px

// Computed breakpoints based on content.
$breakpoint-1: $max-size + ($button-size * 2) + 6rem;
$breakpoint-2: ($max-size * 2) + ($button-size * 2);
