@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('../fonts/AvenirNext-Variable.woff2') format('woff2');
}

html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  background-color: black;
  box-sizing: border-box;
  color: white;
  display: grid;
  grid: 1fr / 1fr;
  font-family: 'Avenir Variable', sans-serif;
  font-size: clamp(.75rem, .75rem + .5vw, 1rem);
  font-variation-settings: 'wght' 500;
  margin: 0;
  min-block-size: 100dvh;
  place-items: center;
}

:not(:defined) {
  display: none;
}

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  &:visited {
    color: var(--link-visited-color);
  }
  
  &:focus-visible,
  &:active {
    color: var(--link-focus-color);
  }
  
  @media (any-hover: hover) {
    & {
      transition: color var(--transition);
    }
  
    &:hover {
      color: var(--link-focus-color);
    }
  }
}
