@use './const';

button {
  align-items: center;
  appearance: none;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(white, .25);
  border: 0;
  border-radius: .5em;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: clamp(.75rem, .75rem + .5vw, 1rem);
  gap: 0 .25em;
  outline: 0;
  padding-block: .5em;
  padding-inline: 1em;
  transition: background-color var(--transition), color var(--transition), opacity var(--transition), transform var(--transition);

  &[disabled] {
    opacity: 0;
    pointer-events: none;
  }

  &:focus-visible {
    background-color: white;
    color: black;
  }

  &.touch {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    

    &:hover {
      background-color: white;
      color: black;
    }

    &:active {
      transform: scale(.8);
    }
  }
}

button > svg {
  block-size: const.$icon-size;
  fill: currentColor;
  inline-size: const.$icon-size;
  pointer-events: none;
}
