button {
  align-items: center;
  appearance: none;
  background-color: var(--button-background);
  border: 0;
  border-radius: .5em;
  color: var(--button-color);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: clamp(.75rem, .75rem + .5vw, 1rem);
  gap: 0 .25em;
  outline: 0;
  padding-block: .5em;
  padding-inline: 1em;
  transition: background-color var(--transition), color var(--transition), opacity var(--transition), transform var(--transition);

  &:focus-visible {
    background-color: var(--button-focus-background);
    color: var(--button-focus-color);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--button-focus-background);
      color: var(--button-focus-color);
    }
    
    &:active {
      transform: scale(.8);
    }
  }

  &.touch {
    transform: scale(.8);
  }

  &[disabled] {
    opacity: 0;
    pointer-events: none;
  }
}

button > svg {
  aspect-ratio: 1;
  block-size: 1.5em;
  fill: currentColor;
  pointer-events: none;
}
