@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  block-size: 100dvh;
  margin: 0;
  touch-action: manipulation;
}

$buffer: 6rem;
$max-size: 40rem;
$breakpoint: $max-size + ($buffer * 2);

:root {
  --grid: 'meta meta meta' #{$buffer} 'ten ten ten' 1fr 'out . in' #{$buffer} / #{$buffer} 1fr #{$buffer};

  @media (min-width: #{$breakpoint}) {
    --grid: 'meta meta meta' #{$buffer} 'out ten in' 1fr / 1fr #{$max-size} 1fr;
  }
}