$buffer: 5rem;
$max-size: 40rem;
$breakpoint: $max-size + ($buffer * 2);

@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

:root {
  --grid: 'scene scene scene' 'out . in' #{$buffer} / #{$buffer} 1fr #{$buffer};

  @media (min-width: #{$breakpoint}) {
    --grid: 'out scene in' 1fr / 1fr #{$max-size} 1fr;
  }
}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: black;
  color: white;
  margin: 0;
  min-block-size: 100dvh;
  touch-action: manipulation;
}
