@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: black;
  block-size: 100dvh;
  color: white;
  margin: 0;
  touch-action: manipulation;
}
