/* App is always dark; there are no light mode styles. */
:root {
  --button-size: 2.75rem;

  /* Dark mode grays. */
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(99, 99, 102);
  --gray3: rgb(72, 72, 74);
  --gray4: rgb(58, 58, 60);
  --gray5: rgb(44, 44, 46);
  --gray6: rgb(28, 28, 30);

  /* Dark mode theming. */
  --fill-0: black;
  --fill-1: var(--gray6);
  --fill-2: var(--gray5);
  --fill-3: var(--gray4);
  --link-color: CornflowerBlue;
  --link-focus-color: DarkOrange;
  --link-visited-color: MediumPurple;
  --text-color: Gainsboro;
}