:root {
  --button-size: 2.75rem;
  --icon-size: 1.5em;

  /* Grays via Apple HIG. */
  /* @see https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color */
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(174, 174, 178);
  --gray3: rgb(199, 199, 204);
  --gray4: rgb(209, 209, 214);
  --gray5: rgb(229, 229, 234);
  --gray6: rgb(242, 242, 247);

  /* Theming. */
  --fill-0: var(--gray6);
  --fill-1: white;
  --fill-2: var(--gray5);
  --fill-3: var(--gray4);
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode grays. */
    --gray1: rgb(142, 142, 147);
    --gray2: rgb(99, 99, 102);
    --gray3: rgb(72, 72, 74);
    --gray4: rgb(58, 58, 60);
    --gray5: rgb(44, 44, 46);
    --gray6: rgb(28, 28, 30);

    /* Dark mode theming. */
    --fill-0: black;
    --fill-1: var(--gray6);
    --fill-2: var(--gray5);
    --fill-3: var(--gray4);
    --text-color: Gainsboro;
  }
}